@import 'config/variables';
@import 'base/base';
@import 'theme/theme';
@import 'layout/layout';
@import 'components/header';
@import 'components/home';
@import 'components/buttons';
@import 'components/about';
@import 'components/result';
@import 'components/allpredictions';
@import 'components/login';
@import 'components/scroll';
@import 'components/breakpoints';